<div class="container-contact">
    <img src="assets/img/fondo/contact.png" alt="banner">
    <div class="contact-form">
        <div class="data">
            <h1>NUESTROS DATOS:</h1>
            <div class="data-content">
                <p>E-mail :</p>
                <p>Teléfono :</p>
            </div>
        </div>
        <div class="ubication">
            Haz click aquí para ubicarnos en el mapa
        </div>
        <div class="form">
            <div class="description-form">
                Para preguntas generales, por favor completa el siguiente formulario:
            </div>
            <div class="grid-container">
                <div class="Nombre"><input class="input-form" type="text" name="nombre" placeholder="Nombre"></div>
                <div class="E-mail"><input class="input-form" type="text" name="email" placeholder="E-mail"></div>
                <div class="Teléfono"><input class="input-form" type="text" name="telefono" placeholder="Teléfono"></div>
                <div class="Mensaje"><input class="input-form-mensaje" type="text" name="mensaje" placeholder="Escribe tu mensaje aquí..."></div>
                <div class="button">
                    <div class="btn-submit">
                        Enviar
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-banner">
        <div class="banner-noticias">
            <div class="titulo">
                <h1>CONTÁCTANOS</h1>
                <h2>LOMAS DE JESÚS</h2>
                <p>CASA CLUB</p>
            </div>
        </div>
    </div>

</div>