<div class="contenido">
    <div class="container-banner">
        <div class="banner-noticias">
            <div class="subsubtexto">
                <h1>{{texto1}}</h1>
                <h2>{{texto2}}</h2>
                <p>{{texto3}}</p>
                <p>{{texto4}}</p>
            </div>
        </div>
    </div>
    <div class="container-grid">
        <div class="wrapper">
            <div class="box a">
                <a class="textWithBlurredBg" href="#">
                    <img alt="" src="assets/img/fondo/navbar.png">
                    <h1>07 MAY</h1>
                    <h2>NOTICIA I</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi doloribus ducimus fuga inventore ipsam laborum odio officia omnis optio quos, ratione tempore totam unde ut veritatis? Maxime quod suscipit temporibus. A architecto beatae
                        consequatur cumque, dolor doloribus earum enim est excepturi explicabo iure laborum nihil provident reprehenderit sed similique ut voluptatibus. Aliquam consequatur eos harum nesciunt provident, sunt ullam unde? Adipisci alias
                        aperiam at beatae commodi earum expedita fuga, nisi numquam perspiciatis possimus quam quidem recusandae sequi tenetur totam voluptate! Accusamus explicabo, modi nam neque officia placeat repellat sunt voluptatem.
                    </p>
                </a>
            </div>
            <div class="box b">
                <div class="textb">
                    En Lomas de Jesús Casa Club puedes adquirir un terreno único para construir tu casa soñada.
                    <div class="botonb" id="inline">
                        <b> ENCUENTRA TU TERRENO IDEAL</b> <i class="fas fa-greater-than icon"></i>
                    </div>
                </div>
            </div>
            <div class="box c">
                <a [routerLink]="['/portal-de-noticias']">
                    <div class="botonc">
                        VER PORTAL
                        <br> DE NOTICIAS
                    </div>
                </a>
                <img src="assets/img/fondo/ave.jpg" alt="Girl in a jacket">
            </div>
            <div class="box d">
                <div class="botond">
                    <div class="textd">
                        ¡HAZTE SOCIO!
                    </div>
                </div>
                <img alt="Girl in a jacket" src="assets/img/fondo/ave.jpg">

            </div>
        </div>
    </div>
</div>