<div class="contenido">
    <div class="container-banner">
        <div class="banner-noticias">
            <div class="subsubtexto">
                <h1>{{texto1}}</h1>
                <h2>{{texto2}}</h2>
                <p>{{texto3}}</p>
                <p>{{texto4}}</p>
            </div>
        </div>
    </div>
    <div class="container-grid">
        <div class="wrapper">
            <div class="box a">
                <a class="textWithBlurredBg" href="#">
                    <img alt="" [src]="baseRoot+lastNews[0].urlImage_narrow">
<!--                    <img alt="" [src]="baseRoot+lastNews[0].urlImage_wide">-->
<!--                    <img alt="" [src]="baseRoot+lastNews[0].urlImage_medium">-->
                    <h1>{{lastNews[0].date}}</h1>
                    <h2>{{lastNews[0].title}}</h2>
                    <p>{{lastNews[0].texto}}</p>
                </a>
            </div>
            <div class="box b">
                <div class="textb">
                    En Lomas de Jesús Casa Club puedes adquirir un terreno único para construir tu casa soñada.
                    <div class="botonb" id="inline">
                        <b> ENCUENTRA TU TERRENO IDEAL</b> <i class="fas fa-greater-than icon"></i>
                    </div>
                </div>
            </div>
            <div class="box c">
                <a [routerLink]="['/portal-de-noticias']">
                    <div class="botonc">
                        VER PORTAL
                        <br> DE NOTICIAS
                    </div>
                </a>
              <a class="textWithBlurredBg" href="#">
                <img alt="" [src]="baseRoot+lastNews[1].urlImage_narrow">
                <!--                    <img alt="" [src]="baseRoot+lastNews[0].urlImage_wide">-->
                <!--                    <img alt="" [src]="baseRoot+lastNews[0].urlImage_medium">-->
                <h1>{{lastNews[1].date}}</h1>
                <h2>{{lastNews[1].title}}</h2>
                <p>{{lastNews[1].texto}}</p>
              </a>
            </div>
            <div class="box d">
                <div class="botond">
                    <div class="textd">
                        ¡HAZTE SOCIO!
                    </div>
                </div>
              <a class="textWithBlurredBg" href="#">
                <img alt="" [src]="baseRoot+lastNews[2].urlImage_narrow">
                <!--                    <img alt="" [src]="baseRoot+lastNews[0].urlImage_wide">-->
                <!--                    <img alt="" [src]="baseRoot+lastNews[0].urlImage_medium">-->
                <h1>{{lastNews[2].date}}</h1>
                <h2>{{lastNews[2].title}}</h2>
                <p>{{lastNews[2].texto}}</p>
              </a>

            </div>
        </div>
    </div>
</div>
