.contenido {
  width: 120rem;
  height: auto;
  /*background: #03989E;*/
}
.container-banner {
  /*background: greenyellow;*/
  position: relative;
  width: 100%;
  top: 0;
  right: 0;
  height: 100%;
}

.banner-noticias {
  display: block;
  background-color: rgba(0, 0, 61, .48);
  position: absolute;
  text-align: right;
  padding: 10em 3em 0 4em;
  top: -2em;
  right: .5em;
  z-index: 5;
  width: 35rem;
}

.subsubtexto {
  margin-top: 18em;
  margin-bottom: 14.5em;
}

.subsubtexto h1 {
  font-size: 4em;
  color: white;
  font-family: 'Amaranth', serif;
}


.subsubtexto h2 {
  font-size: 3.2em;
  color: white;
  font-family: 'Amaranth', serif;
}

.subsubtexto p {
  font-size: 1.7em;
  color: white;
  font-family: 'Belleza', sans-serif;
}

/*NEWS from old version*/

.container-grid{
  position: relative;
}

.wrapper {
  display: grid;
  margin: 2em 0;
  grid-gap: 20px;
  grid-template-columns: 40em 25em 30em;
  color: #444;
  /*padding-right: 8.5em;*/
  width: 100%;
}

.box {
  background-color: transparent;
  color: #fff;
  font-size: 150%;
  margin-top: 2em;
}

.a {
  grid-column: 1 / 3;
  grid-row: 1;
}

.textWithBlurredBg img {
  /*padding-left: 1em;*/
  width: 44.5em;
  height: 25em;
}

.textWithBlurredBg{
  width:auto;
  height:auto;
  display:inline-block;
  position:relative;
  transition:.3s;
}

.textWithBlurredBg img{
  transition:.3s;
}

.textWithBlurredBg:hover img{
  filter: brightness(60%);
}

.textWithBlurredBg :not(img){
  position:absolute;
  z-index:1;
  width:100%;
  color:#fff;
  opacity:0;
  transition:.3s;
}

.textWithBlurredBg p{
  font-family: 'Amaranth', serif;
  width: 92%;
  top:35%;
  left: 4%;
  text-align: justify;
}
.textWithBlurredBg h2{
  font-family: 'Amaranth', serif;
  text-align: left;
  left: 4%;
  top:20%;
}
.textWithBlurredBg h1{
  font-family: 'Amaranth', serif;
  text-align: left;
  left: 4%;
  font-size: 2.5em;
  top:5%;
}

.textWithBlurredBg:hover :not(img){
  opacity:1;
}

.b {
  grid-column: 3;
  grid-row: 2;
}

.textb {
  width: 12em;
  font-size: 1em;
  font-family: 'Amaranth', serif;
  color: #00003d;
  margin-left: 5.5em;
  margin-top: 9em;
  text-align: justify;
}

.botonb {
  margin-top: 2.2em;
  font-family: 'Alegreya', sans-serif;
  font-size: 0.8em;
  margin-left: 0.5em;
  width: 20em;
  text-align: left;
}

.icon {
  margin-left: 0.2em;
}

.botonb:hover {
  color: #03989E;
  cursor: pointer;
}

.botond:hover {
  color: #03989E;
  cursor: pointer;
}

.c {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}

.c img {
  width: 100%;
  height: 18em;
}

.botonc {
  width: 350px;
  height: 73px;
  margin: 0 auto 2em;
  border-top: 2px solid #00003d;
  border-bottom: 2px solid #00003d;
  color: #00003d;
}

.d {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}

.d img {
  width: 100%;
  height: 18em;
}

.botond {
  width: 250px;
  height: 73px;
  margin: 0 auto 2em;
  border-top: 2px solid #00003d;
  border-bottom: 2px solid #00003d;
  color: #00003d;
}

.textd {
  margin-top: 0.6em;
}

.botonc:hover {
  cursor: pointer;
  color: #03989E;
  border-top: 2px solid #03989E;
  border-bottom: 2px solid #03989E;
}

.botond:hover {
  cursor: pointer;
  color: #03989E;
  border-top: 2px solid #03989E;
  border-bottom: 2px solid #03989E;
}
