<div class="container-sea-friends">
  <div id="sea-friends-content">
    <h1>AMIGOS DEL MAR</h1>
    <p>
      Nuestro proyecto está ubicado a más de 30 metros sobre el nivel del mar, es decir anti tsunamis y maretazos. <br>
      Queremos compartir contigo más de 100 hectáreas sobre las cuales se hace realidad, día a día, nuestro balneario
      club.
    </p>
  </div>

  <div class="buttons">
    <div class="buttonLeft">
      <div class="buttonText">
        Conoce nuestras modalidades de socios y sus beneficios
      </div>
    </div>
    <div class="buttonRight">
      <div class="buttonText">
        Más información
      </div>
    </div>
  </div>
</div>
