.container-sea-friends {
  background-color: #03989E;
  color: #ffffff;
  text-align: center;
  align-items: center;
  padding: 5em 6em;
  max-width: 100%;
}


#sea-friends-content {
  padding: 0 12em;
}

h1 {
  font-size: 55px;
  font-family: 'Belleza', serif;
}

#vision h1 {
  margin-top: 2em;
}

p {
  text-align: center;
  margin: 2em auto;
  font-size: 22px;
}

.buttonText {
  /*margin-top: 0.4em;*/
  font-size: 2.3em;
  font-family: 'Belleza', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.buttonLeft, .buttonRight {
  width: 40%;
  height: 8em;
  margin: 0 auto 2em;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

.buttonLeft:hover, .buttonRight:hover {
  cursor: pointer;
  color: #00003d;
  border-top: 2px solid #00003d;
  border-bottom: 2px solid #00003d;
}

.buttons {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-device-width: 480px) {
  #sea-friends-content {
    width: 320px;
  }
  .buttons {
    flex-direction: column;
  }
  h1 {
    font-size: 25px;
  }
  p {
    font-size: 20px;
  }
  .buttonText {
    /*margin-top: 0.4em;*/
    font-size: 1.5em;
    margin: 0 0;
  }
  .buttonLeft {
    width: 320px;
    height: 5em;
  }
  .buttonRight {
    width: 320px;
    height: 2.5em;
  }
}
