<div class="container-about">
  <div id="mision">
    <h1>MISIÓN</h1>
    <p>Por qué es un buen lugar para vivir. Por que es seguro ante cualquier crisis. Por qué es un buen lugar para
      vivir. Por que es seguro ante cualquier crisis.</p>
  </div>
  <div id="vision">
    <h1>VISIÓN</h1>
    <p>
      Por qué es un buen lugar para vivir. Por que es seguro ante cualquier crisis. Por qué es un buen lugar para vivir.
      Por que es seguro ante cualquier crisis. Por qué es un buen lugar para vivir. Por que es seguro ante cualquier
      crisis.
    </p>
  </div>
</div>
