<div class="container-opinions">
  <div class="title">
    <h1>NUESTROS SOCIOS OPINAN</h1>
  </div>
  <div class="values-item">
    <div *ngFor="let opinion of opinions" class="item">
      <img [src]="baseRoot+opinion.partner_photo" class="round-image">
      <h2>{{opinion.partner_name}}, Socio Fundador</h2>
      <div class="item-text">
        <img src="assets/img/iconos/comillas.svg">
        <p>{{opinion.text}}</p>
        <img src="assets/img/iconos/comillas.svg" style="transform: scaleX(-1); height: 1.5em">
      </div>
    </div>
  </div>
</div>
