.container-opinions {
  background-color: #ffffff;
  color: #00003d;
  text-align: center;
  align-items: center;
  padding: 3em 0 3em;
  max-width: 100%;
}

h1 {
  font-size: 2.5em;
  font-family: 'Belleza', serif;
  margin-bottom: 2em;
}

h2 {
  font-size: 2em;
  height: 2.5em;
  margin-bottom: 1em;
  font-family: 'Belleza', serif;
}

p {
  font-family: 'Belleza', serif;
  font-size: 1.5em;
}


.round-image{
  border-radius:80%;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
}


.values-item {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (max-width: 768px) {
  .values-item {
    flex-direction: column!important;
  }

  .values-item :first-child  {
    margin-top: -1em;
  }
  .item {
    width: 100%!important;
    margin: 2em 0;
  }
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 2em;
    margin-bottom: 0;
    margin-bottom: 1.5em ;
  }
  p {
    font-size: 1em;
  }
  .round-image {
    width: 50vw;
    height: 50vw;
  }

}

.item {
  width: 33%;
  /*margin: 2em;*/
}

.item-text {
  width: 85%;
  height: auto;
  margin: 0 auto;
}

.item-text img {
  height: 3em;
  display: inline;
}

.item-text p {
  display: inline;
}
