<div class="container-opinions">
  <div class="title">
    <h1>NUESTROS SOCIOS OPINAN</h1>
  </div>
  <div class="values-item">
    <div class="item">
      <img src="assets/img/tipo.jpg" class="round-image">
      <h2>Adrián Tejada, Socio Fundador</h2>
      <div class="item-text">
        <img src="assets/img/iconos/comillas.svg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, quos, rem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, quos, rem.</p>
        <img src="assets/img/iconos/comillas.svg" style="transform: scaleX(-1); height: 1.5em">
      </div>
    </div>

    <div class="item">
      <img src="assets/img/tipo.jpg" class="round-image">
      <h2>Adrián Tejada, Socio Fundador</h2>
      <div class="item-text">
        <img src="assets/img/iconos/comillas.svg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, quos, rem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, quos, rem.</p>
        <img src="assets/img/iconos/comillas.svg" style="transform: scaleX(-1); height: 1.5em">
      </div>
    </div>

    <div class="item">
      <img src="assets/img/tipo.jpg" class="round-image">
      <h2>Adrián Tejada, Socio Fundador</h2>
      <div class="item-text">
        <img src="assets/img/iconos/comillas.svg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, quos, rem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, quos, rem.</p>
        <img src="assets/img/iconos/comillas.svg" style="transform: scaleX(-1); height: 1.5em">
      </div>
    </div>


    </div>
