.container-opinions {
  background-color: #ffffff;
  color: #00003d;
  text-align: center;
  align-items: center;
  padding: 3em 0em 3em;
  max-width: 100%;
}

h1 {
  font-size: 2.5em;
  font-family: 'Belleza', serif;
  margin-bottom: 2em;
}

h2 {
  font-size: 1.5em;
  height: 2.5em;
  margin-bottom: 1em;
  font-family: 'Belleza', serif;
}

p {
  font-family: 'Belleza', serif;
  font-size: 1.2em;
}


.round-image{
  border-radius:80%;
}


.values-item {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item {
  width: 30%;
  margin: 2em;
}

.item-text {
  width: 100%;
  height: auto;
}

.item-text img {
  height: 3em;
  display: inline;
  /*position: absolute;*/
}

.item-text p {
  display: inline;
}
