<div class="container-oportunities">
    <div class="text">
        <h1>UN LUGAR, MUCHAS OPORTUNIDADES</h1>
        <p>Lomas de Jesús es una propiedad con mucha historia que a lo largo de los siglos ha sido altamente productiva debido a la abundante presencia de pastos naturales, tierras fértiles y fuentes de agua dulce.<br> Los primeros árboles de olivo que los
            españoles instalaron en el Perú fueron, entre otros, en Lomas de Jesús. Igual o mayor productividad posee su lecho marino protegido por Islas y puntas rocosas que han generado una gran bahía de aguas abrigadas que; albergan en abundancia;
            las mejores especies de peces y moluscos que desde siempre han sido consumidos a lo largo y ancho del sur peruano.<br> Hoy en día ésta fortaleza geográfica se refleja en su posicionamiento entre los puertos de Ilo y Matarani. Lomas de Jesús
            se encuentra en el corazón del eje del desarrollo del Sur peruano.<br> Por todo ello es en la actualidad, una tierra soñada para vivir y prosperar, en un ambiente cálido y amistoso que invita a muchos privilegiados, a sumarse, para experimentar
            y desarrollar un futuro brillante.</p>
    </div>

    <div class="buttons">
        <div class="buttonLeft">
            <div (click)="openPDF()" class="buttonText">
                Seguridad Jurídica
            </div>
        </div>
        <div class="buttonRight">
            <div [routerLink]="['/working']" class="buttonText">
                Más información
            </div>
        </div>
    </div>
</div>