.container-oportunities {
  background-image: url('src/assets/img/fondo/fondo.jpg');
  background-size: 100%;
  width: 110rem;
  text-align: center;
  align-items: center;
  padding: 6em 6em 3em;
  /*margin: 0;
  top:50%;
  position: absolute;*/
}

h1 {
  font-size: 46px;
  font-family: 'Belleza', sans-serif;
}

p {
  margin: 2em auto 0;
  font-size: 24px;
  text-align: center;
}

.buttonText {
  /*margin-top: 0.4em;*/
  font-size: 2.5em;
  margin: auto;
  padding-top: .7em;
  font-family: 'Belleza', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonLeft, .buttonRight {
  width: 35%;
  height: 8em;
  margin: 0 auto 2em;
  border-top: 2px solid #00003d;
  border-bottom: 2px solid #00003d;
  color: #00003d;
}

.buttonLeft:hover, .buttonRight:hover {
  cursor: pointer;
  color: #ffffff;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

.buttons {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
}
