.container-values {
  background-color: #03989E;
  color: #ffffff;
  text-align: center;
  align-items: center;
  padding: 3em 20em;
  max-width: 100%;
}

h1 {
  font-size: 4em;
  font-family: 'Belleza', serif;
}

h2 {
  font-size: 2em;
  margin-bottom: 1em;
  font-family: 'Belleza', serif;
  padding: 0 3em;
}

p {
  font-family: 'Belleza', serif;
  font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
  .values-item {
    flex-direction: column!important;
  }
  .item {
    width: 90%!important;
  }
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.5em;
    margin-bottom: 0;
    padding: 0;
  }
  p {
    font-size: 2em;
  }

}

.values-item {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.item {
  width: 33%;
  margin: 2em auto;
}
