<div class="container-values">
  <div class="title">
    <h1>MISIÓN</h1>
  </div>
  <div class="values-item">
    <div class="item">
      <img src="assets/img/iconos/icon%20VALORES%20CRISTIANOS.svg" height="200em">
      <h2>VALORES CRISTRIANOS</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, quos, rem.</p>
    </div>
    <div class="item">
      <img src="assets/img/iconos/icon%20AMISTAD.svg" height="200em">
      <h2>AMISTAD</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, quos, rem.</p>
    </div>
    <div class="item">
      <img src="assets/img/iconos/icon%20RESPETO.svg" height="200em">
      <h2>RESPETO POR LA NATURALEZA</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, quos, rem.</p>
    </div>
  </div>

</div>
