<div class="container-nature">
  <h1>NATURALEZA</h1>
  <div class="wrapper">
    <div class="carousel">
<!--      <div *ngFor="let image of natureImages" class="info">-->
<!--        <img alt="ave" [src]="baseRoot+image.urlImage">-->
<!--        <p>{{ image.description }}</p>-->
<!--      </div>-->
      <div class="info">
        <img alt="ave" src="http://54.160.110.125:8000/api/media/images/galleries/Rocas_GRANDE.png">
        <p>El mar es movimiento y emoción. Pocos lugares en nuestro país te permiten disfrutar de este de una forma tan cercana y segura.</p>
      </div>
      <div class="info">
        <img alt="ave" src="http://54.160.110.125:8000/api/media/images/galleries/playa_GRANDE.png">
        <p>Te garantizamos la comodidad de estar en contacto y conexión con la naturaleza y la diversión y felicidad de crear con tu familia y amigos momentos inolvidables.</p>
      </div>
      <div class="info">
        <img alt="ave" src="http://54.160.110.125:8000/api/media/images/galleries/Lomas_GRANDE.png">
        <p>El terreno nos brinda las mejores perspectivas para contemplar su belleza. Las cimas de estos bajos acantilados son el lugar perfecto para observar el mar, la puesta de sol y muchos otros espectáculos naturales.</p>
      </div>
      <div class="info">
        <img alt="ave" src="http://54.160.110.125:8000/api/media/images/galleries/Animales_GRANDE.png">
        <p>Ocasionalmente, aquí se pueden avistar bellos ejemplares de nuestra fauna. Es y siempre será nuestro deber cuidarlos y respetarlos.</p>
      </div>
      <div class="info">
        <img alt="ave" src="http://54.160.110.125:8000/api/media/images/galleries/Acantilados_GRANDE_x4QYjr6.png">
        <p>Esta hermosa caleta de aguas claras y tranquilas se encuentra a solo cinco minutos a pie del balneario. No deja de deslumbrarnos después de haber recorrido sus caminos innumerables veces.</p>
      </div>
    </div>
  </div>
</div>
