<nav class="primary-navigation" role="navigation">
    <!-- <div class="menu-toggle">
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="cross">
            <span></span>
            <span></span>
        </div>
    </div> -->
    <div class="imagen">
        <a href="">
            <img alt="logo" height="65em" src="assets/img/imagotipo.png" width="auto">
        </a>
    </div>

    <ul>
        <li class="menu"><a href="#news">Noticias</a>
        </li>
        <li class="menu"><a href="#about">Nosotros</a>
        </li>
        <li class="menu"><a href="#">Galerías</a>
            <ul class="dropdown">
                <li><a href="#">Sociales</a></li>
                <li><a href="#">Naturaleza</a></li>
                <li><a href="#">Obras</a></li>
            </ul>
        </li>
        <li class="menu"><a href="#">Casa Club</a></li>
        <li class="menu"><a href="#contact">Contáctanos</a></li>
    </ul>
</nav>
<nav class="mobile-navigation" role="navigation">
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <a href="#news">
                <li>Noticias</li>
            </a>
            <a href="#about">
                <li>Nosotros</li>
            </a>
            <a href="#">
                <li>Galerías</li>
            </a>
            <a href="#">
                <li>Casa Club</li>
            </a>
            <a href="#contact">
                <li>Contáctanos</li>
            </a>
        </ul>
    </div>
</nav>