<div class="container-social">
  <h1>SOCIALES</h1>
  <div class="wrapper">
    <div class="carousel">
      <div class="info">
        <img alt="ave" src="assets/img/fondo/navbar.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, error, molestias. Ab ad aliquam aut autem ex
          impedit ipsa iste nam, nesciunt odit placeat quia quisquam repudiandae suscipit temporibus, velit.</p>
        <div class="thumbnail">
          <div class="mini-carousel">
            <div><img src="assets/img/fondo/fondo.jpg" alt="test"></div>
            <div><img src="assets/img/fondo/navbar.png" alt="test"></div>
            <div><img src="assets/img/fondo/ave.jpg" alt="test"></div>
          </div>
        </div>
      </div>
      <div class="info">
        <img alt="ave" src="assets/img/fondo/ave.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, error, molestias. Ab ad aliquam aut autem ex
          impedit ipsa iste nam, nesciunt odit placeat quia quisquam repudiandae suscipit temporibus, velit.</p>
      </div>
      <div class="info">
        <img alt="ave" src="assets/img/fondo/fondo.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, error, molestias. Ab ad aliquam aut autem ex
          impedit ipsa iste nam, nesciunt odit placeat quia quisquam repudiandae suscipit temporibus, velit.</p>
      </div>
    </div>
  </div>
</div>
