<div class="container-social" id="sociales">
  <h1>SOCIALES</h1>
  <div class="wrapper">
    <div class="carousel">
      <!--      <div *ngFor="let image of socialImages" class="info">-->
      <!--        <img alt="ave" [src]="baseRoot+image.urlImage">-->
      <!--        <p>{{ image.description }}</p>-->
      <!--        <div class="thumbnail">-->
      <!--          <div class="mini-carousel">-->
      <!--            <div><img src="assets/img/fondo/fondo.jpg" alt="test"></div>-->
      <!--            <div><img src="assets/img/fondo/navbar.png" alt="test"></div>-->
      <!--            <div><img src="assets/img/fondo/ave.jpg" alt="test"></div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="info">
        <img alt="ave" src="https://admin.lomasdejesus.com/media/images/galleries/Personas_9_GRANDE.png">
        <p>Walter Bustamante de Soncollay enseñando como hacer una parrilla con su estilo único en un día perfecto.</p>
      </div>
      <div class="info">
        <img alt="ave" src="https://admin.lomasdejesus.com/media/images/galleries/Personas_GRANDE.png">
        <p>Familia Bueno en compañía de amigos del Valle de Tambo, compartiendo excelentes momentos.</p>
      </div>
      <div class="info">
        <img alt="ave" src="https://admin.lomasdejesus.com/media/images/galleries/Personas_6_GRANDE.png">
        <p>Familia Salas y Vásquez en memorable reencuentro familiar, disfrutando de almuerzo marino de primera en la
          tranquilidad y exclusividad de nuestras instalaciones."</p>
      </div>
    </div>
  </div>
</div>
