<div class="container-scroll">
  <app-navbar></app-navbar>
  <div id="home" class="section1">
    <app-home></app-home>
  </div>
  <div id="news" class="section1">
    <app-news></app-news>
  </div>
  <div id="about" class="section1">
    <app-about></app-about>
  </div>
  <div id="oportunities" class="section1">
    <app-oportunities></app-oportunities>
  </div>
  <div id="values" class="section1">
    <app-values></app-values>
  </div>
<!--  <div id="social-media" class="section2">-->
<!--    <app-social></app-social>-->
<!--  </div>-->
  <div id="safe-place" class="section1">
    <app-safe-place></app-safe-place>
  </div>
  <div id="sea-friends" class="section1">
    <app-sea-friends></app-sea-friends>
  </div>
</div>
