<div class="container-safe-place">
  <div id="safe-place-content">
    <h1>UN HOGAR SEGURO PARA <br> VIVIR LOS 365 DÍAS DE AÑO</h1>
    <p>
      Imagina un lugar, frente al mar, que lo tiene todo. Viviendas elegantes y ecológicas, centro comercial,
      restaurantes, parques, bosques, club de amigos con gran infraestructura deportiva, embarcadero de yates, patio de
      embarcaciones, amarraderos, piscinas, lagunas, circuitos de carreras, parapente, senderos para pasear a caballo,
      en bicicleta o a pie, árboles al por mayor. Cercano a aeropuertos, puertos, hospitales, mercados, terrenos de
      cultivo, islas, cerros. Ese lugar soñado existe y se llama Lomas de Jesús. Contamos con el mejor esenario posible
      para la creación de los fuertes vínculos de amistad que necesitas para impulsar todos los aspectos de tu
      vida.
    </p>
  </div>

  <div class="buttons">
    <div class="buttonLeft">
      <div class="buttonText">
        Descubre Lomas de Jesús Casa Club
      </div>
    </div>
    <div class="buttonRight">
      <div class="buttonText">
        Más Información
      </div>
    </div>
  </div>
</div>
