.container-safe-place {
  background-color: #00003d;
  color: #ffffff;
  text-align: center;
  align-items: center;
  padding: 3em 6em;
  max-width: 100%;
}

h1 {
  font-size: 55px;
  font-family: 'Belleza', serif;
}

#vision h1 {
  margin-top: 2em;
}

p {
  text-align: center;
  margin: 2em auto;
  font-size: 22px;
}

.buttonText {
  /*margin-top: 0.4em;*/
  font-size: 2em;
  font-family: 'Belleza', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.25em auto auto;
}

.buttonLeft, .buttonRight {
  width: 35%;
  height: 8em;
  margin: 0 auto 2em;
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

.buttonLeft:hover, .buttonRight:hover {
  cursor: pointer;
  color: #03989E;
  border-top: 2px solid #03989E;
  border-bottom: 2px solid #03989E;
}

.buttons {
  display: flex;
  flex-direction: row;
}
