.container-scroll {
  width: 100%;
  max-width: 2000px;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  margin: auto;
  max-height: fit-content;
}

.h-0 {
  height: 0;
}

.banner {
  display: block;
  background-color: rgba(0, 0, 61, 1);
  color: white;
  font-family: 'Amaranth', serif;
  font-size: 1.3em;
}

.title {
  text-align: center;
  padding: 1em 0;
  font-size: 1.6em;
}

.list {
  display: flex;
  justify-content: space-between;
  padding: 1em 8em;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  left: 27%;
  width: 70%;
  bottom: 63em;
}

.container {
  font-family: 'Amaranth', serif;
  font-size: 1rem;
  width: 100%;
  color: rgba(0, 0, 61, 1);
  display: flex;
  max-height: 17em;
}

.text p {
  overflow: hidden;
  max-height: 3.5em;

}

.text {
  overflow: hidden;
}

.container img {
  width: 50%;
  padding: 2em 0;
}

.detail-new {
  height: fit-content;
}

.detail-new h2 {
  text-align: right;
  font-family: 'Amaranth', serif;
}

.detail-new h1 {
  /*line-height: 2em;*/
  font-size: 2.5em;
  margin-top: 1em;
  font-family: 'Amaranth', serif;
}

.detail-new p {
  font-size: 1em;
  font-family: 'Amaranth', serif;
  margin-bottom: 2em;
}

.detail-new img {
  height: 20em;
  display: block;
  margin: auto;
}

.text {
  padding: 2em 1em;
}

.botonb {
  text-align: right;
}

.botonb > b {
  font-size: 1em;
  margin-right: 0.2em;

}

.botonb:hover {
  color: #03989E;
  cursor: pointer;
}

.container-filter {
  margin-top: 0.05em;
  display: block;
  background-color: rgba(0, 0, 61, 1);
  color: white;
  font-family: 'Amaranth', serif;
  font-size: 1.3em;
  width: 25%;
  min-height: 50em;
}

.sidebar {
  padding: 1em 1em;
}

.sidebar h3 {
  font-size: 1.1em;
}

.sidebar h2 {
  padding: 2em 0;
  font-size: 1.3em;
  text-align: center;
}

.by_date {
  margin-top: 1em;
}

#sort {
  width: 70%;
}

.by_date input {
  border: 1px solid white;
  width: 50%;
  background-color: rgba(0, 0, 61, 1);
  color: white;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

textarea {
  color: white;
}

#checkbox {
  width: auto;
}

#search_bar {
  border: 1px solid white;
  width: 70%;
  color: white;
  background-color: rgba(0, 0, 61, 1);
}

select {

  border: 1px solid white;
  width: 20%;
  color: white;
  background-color: rgba(0, 0, 61, 1);

}

.specialButton {
  text-decoration: none;
  font-size: 1.1em;
  background-color: #00003d;
  color: white;
  border: none;
  font-family: 'Amaranth', serif;
  cursor: pointer;
  margin: 0 auto;
}

@media only screen and (max-device-width: 480px) {
  .banner {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .container-scroll {
    max-width: 100%;
    overflow-y: visible;
    background-color: rgba(0, 0, 61, 1);
  }

  .detail-new {
    color: white;
    width: 95vw;
    padding: 1em 0em;
    text-align: left;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 61, 1);
  }

  .container {
    font-family: 'Amaranth', serif;
    font-size: 1.3em;
    max-height: none;
    display: inline;
    color: white;
  }

  .container img {
    width: 75%;
    margin: 1em 2em;
    padding: 0;
    border: 0.5em solid #03989E;
  }

  .botonb, .text p {
    visibility: hidden;
    max-height: 0;
  }

  .text {
    padding: 0 2em;
  }

  .detail-new {
    color: white;
    max-width: 100%;
  }

  .container-filter {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}
