<div class="container">
  <div class="sidebar">
    <input id="search_bar" name="search_bar" type="search">
    <div class="by_date">
      <h3>
        BUSCAR POR FECHA
      </h3>

      Año <select id="anho" name="anho">
      <option value="2020">2020</option>
    </select><br>

      Mes <select id="mes" name="mes">
      <option value="enero">1</option>
      <option value="febrero">2</option>
      <option value="marzo">3</option>
      <option value="abril">4</option>
      <option value="mayo">5</option>
      <option value="junio">6</option>
      <option value="julio">7</option>
      <option value="agosto">8</option>
      <option value="septiembre">9</option>
      <option value="ocbtubre">10</option>
      <option value="noviembre">11</option>
      <option value="diciembre">12</option>
    </select>

    </div>

    <div class="by_date">
      <h3>
        SECCIÓN
      </h3>
      <input id="checkbox" type="radio"> Deportiva<br>
      <input id="checkbox" type="radio"> Tecnología<br>
      <input id="checkbox" type="radio"> Medio Ambiente<br>
      <input id="checkbox" type="radio"> Sociedad<br>

    </div>

    <div class="by_date">
      <h3>
        Ordenar por
      </h3>

      <select id="sort" name="sort">
        <option value="volvo">Más Vistas</option>
        <option value="saab">Fecha</option>
      </select>

    </div>


    <h2>BUSCAR</h2>
  </div>
  <div class="imagen">
    <img alt="promo" src="assets/img/promo.png" width="100%">
  </div>
</div>
