<div class="container">
    <div class="sidebar">
    <input type="search" name="search_bar" id="search_bar" >
    <div class="by_date">
        <h3>
            BUSCAR POR FECHA
        </h3>

        Año <select name="anho" id="anho">
            <option value="2020">2020</option>
          </select><br>

          Mes <select name="mes" id="mes">
            <option value="enero">1</option>
            <option value="febrero">2</option>
            <option value="marzo">3</option>
            <option value="abril">4</option>
            <option value="mayo">5</option>
            <option value="junio">6</option>
            <option value="julio">7</option>
            <option value="agosto">8</option>
            <option value="septiembre">9</option>
            <option value="ocbtubre">10</option>
            <option value="noviembre">11</option>
            <option value="diciembre">12</option>
          </select>
    
    </div>

    <div class="by_date">
        <h3>
            SECCIÓN
        </h3>
        <input type="radio" id="checkbox"> Deportiva<br>
        <input type="radio" id="checkbox"> Tecnología<br>
        <input type="radio" id="checkbox"> Medio Ambiente<br>
        <input type="radio" id="checkbox"> Sociedad<br>
        
    </div>

    <div class="by_date">
        <h3>
            Ordenar por
        </h3>

        <select name="sort" id="sort">
            <option value="volvo">Más Vistas</option>
            <option value="saab">Fecha</option>
          </select>
        
    </div>


    <h2>BUSCAR</h2>
</div>
    <div class="imagen">
        <img alt="promo" src="assets/img/promo.png" width="100%">
    </div>
</div>
