<div class="container">
    <div class="sidebar">
    <input type="search" name="search_bar" id="search_bar" >
    <div class="by_date">
        <h3>
            BUSCAR POR FECHA
        </h3>
        <input type="date">
    </div>

    <div class="by_date">
        <h3>
            SECCIÓN
        </h3>
        <select name="secciones" id="secciones">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
          </select>
    </div>

    <div class="by_date">
        <h3>
            ORDENAR POR:
        </h3>
        <input type="radio" id="checkbox"> Más Vistas
    </div>

    <h2>BUSCAR</h2>
</div>
    <div class="imagen">
        <img alt="promo" src="assets/img/promo.png" width="100%">
    </div>
</div>
