<nav class="primary-navigation" role="navigation">
  <div class="imagen">
    <a href="">
      <img alt="logo" height="65em" src="assets/img/imagotipo.png" width="auto">
    </a>
  </div>

  <ul>
    <li class="menu"><a href="#news">Inicio</a>
    </li>
    <li class="menu"><a href="#">Ir a</a>
      <ul class="dropdown">
        <li><a href="#">Casa Club</a></li>
        <li><a href="#">Lomás de Jesús</a></li>

      </ul>
    </li>
  </ul>
</nav>

<nav class="mobile-navigation" role="navigation">
  <div id="menuToggle">
    <input type="checkbox"/>
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
      <a href="#news">
        <li>Ir a</li>
      </a>
      <a href="#about">
        <li>Secciones</li>
      </a>
    </ul>
  </div>
</nav>
