
<nav class="primary-navigation" role="navigation">
    <div class="imagen">
        <a href="">
            <img alt="logo" height="65em" src="assets/img/imagotipo.png" width="auto">
        </a>
    </div>

    <ul>
        <li class="menu"><a href="#news">Inicio</a>
        </li>
        <li class="menu"><a href="#">Ir a</a>
            <ul class="dropdown">
                <li><a href="#">Casa Club</a></li>
                <li><a href="#">Lomás de Jesús</a></li>

            </ul>
        </li>
    </ul>
</nav>
