<div class="container-works">
  <h1>OBRAS</h1>
  <div class="wrapper">
    <div class="carousel">
      <div class="info">
        <img alt="ave" src="assets/img/fondo/ave.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, error, molestias. Ab ad aliquam aut autem ex
          impedit ipsa iste nam, nesciunt odit placeat quia quisquam repudiandae suscipit temporibus, velit.</p>
      </div>
      <div class="info">
        <img alt="ave" src="assets/img/fondo/navbar.png">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, error, molestias. Ab ad aliquam aut autem ex
          impedit ipsa iste nam, nesciunt odit placeat quia quisquam repudiandae suscipit temporibus, velit.</p>
      </div>
      <div class="info">
        <img alt="ave" src="assets/img/fondo/fondo.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, error, molestias. Ab ad aliquam aut autem ex
          impedit ipsa iste nam, nesciunt odit placeat quia quisquam repudiandae suscipit temporibus, velit.</p>
      </div>
    </div>
  </div>
</div>
