.container-works {
  max-width: 100%;
  text-align: center;
  align-items: center;
}

h1 {
  font-size: 46px;
  font-family: 'Belleza', sans-serif;
  color: #00003d;
}

.wrapper{
  width:100vw;
  padding-top: 5px;
  text-align:center;
}
.carousel{
  width:100%;
  margin:0 auto;
}
.slick-slide img{
  /*width: 60vw;*/
  height: 80vh;
}


.info {
  width:auto;
  height:auto;
  display:inline-block;
  position:relative;
  transition:.3s;
}

.info img{
  transition:.3s;
}

.info:hover img{
  filter: brightness(60%);
}

.info :not(img){
  position:absolute;
  z-index:1;
  width:100%;
  color:#fff;
  opacity:0;
  transition:.3s;
}

.info p{
  font-family: 'Amaranth', serif;
  font-size: 2em;
  width: 92%;
  top: 8%;
  left: 4%;
  text-align: justify;
}

.info:hover :not(img){
  opacity:1;
}
