<div class="container-works">
  <h1>OBRAS</h1>
  <div class="wrapper">
    <div class="carousel">
      <div class="info">
        <img alt="ave" src="http://54.160.110.125:8000/api/media/images/galleries/Construcci%C3%B3n_GRANDE.png">
        <p>Futura casa frente al mar. Toda construcción en un acantilado rocoso es panorámica y super segura.</p>
      </div>
<!--      <div class="info">-->
<!--        <img alt="ave" src="http://54.160.110.125:8000/api/media/images/galleries/Cocina-barra_GRANDE.png">-->
<!--        <p>Gran barra y cocina frente al mar. Pronto habilitado para visitas todo el año, con beneficios exclusivos para-->
<!--          socios.</p>-->
<!--      </div>-->
      <div class="info">
        <img alt="ave" src="http://54.160.110.125:8000/api/media/images/galleries/Bungalows_GRANDE.png">
        <p>La cercana conexión hombre - mar y la cómoda seguridad a través de terraplenes de roca del lugar. El espacio
          ideal para pasar un día de playa o acampar.</p>
      </div>
      <div class="info">
        <img alt="ave" src="http://54.160.110.125:8000/api/media/images/galleries/Ba%C3%B1o_GRANDE.png">
        <p>Cómodos espacio de servicios para complementar la experiencia en este maravilloso lugar.</p>
      </div>
    </div>
  </div>
</div>
